
body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
  background-size: cover;
  background-color: black;
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

.fadeInAnimated {
  opacity: 0;
  animation: fadeIn 2.5s forwards;
}


.mobileback{
  position: fixed;
	margin-top: -22%;
	z-index: -1;
	overflow: hidden;
  width: 100%;
}

.mobilebackimg{
	width: 100%;
}



.container{
    position: absolute;
    width:80%;
    height: 100%;
    left: 5%;
    right: 90%;
    top: 10%;
    margin-top: 0%;
    overflow: visible;
    background-color: rgba(255,255,255,0);
    border:none;
    z-index: 0;
}


.spacejunktext{
  position: fixed;
  margin-left: 1%;
  width: 20vmin;
  animation: stomp .9s infinite;
  z-index: 1;
}




@keyframes stomp{
  50%{transform: translate(0,.5vmin);}
  100%{transform: initial;} 
}


/*--------------*/

.textwrapper{
  position: fixed;
  margin-top: 15%;
  margin-left: 4%;
  width: 15%;
  z-index: 1;
}

.explore{
  display: inline;
  width: 115%;
}


.teevee{
  display: inline;
  width: 100%;
}


.about{
  display: inline;
  width: 90%;
}


.insta{
  display: inline;
  width: 140%;
}


/*--------------*/


.clothes{
  padding: 0vmin;
  padding-bottom: 13vmin;
  width: 100%;
  margin-top: 10%;
  transform: scale(1.4);
}



  /*-----------------*/


  .wrapper {
  display: grid;
  justify-content: center;
  padding: 1vmin;
  grid-template-columns: 50% 50%;
  grid-column-gap: 5px;
  grid-row-gap: 30px;
  color: #444;
  opacity: 1;
}

.box {
  color: #fff;
  border-radius: 5px;
  font-size: 150%;
}


.price{
  opacity: 0;
  width: 0px;
  position: absolute;
  z-index: 1;
}


pre{
  font-family: silom;
}



@media screen and (max-width: 1050px) {
  .brtext {
  	margin-left: 40%;
    margin-top: -14vmin;
}


@media screen and (max-width: 1050px) {
  .wrapper {
  	grid-template-columns: 90%;
}


@media screen and (max-width: 1050px) {
  .content {
    display: none;
}


