
body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
  background-size: cover;
  background-color: black;
  overflow-x: hidden;
}


video{
  display: none;
}



@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

.fadeInAnimated {
  opacity: 0;
  animation: fadeIn 2.5s forwards;
}


.mobileback{
  position: fixed;
	margin-top: 0%;
	z-index: -1;
	overflow: hidden;
  	height: 100%;
}

.mobilebackimg{
	position: fixed;
	height: 100%;
  	overflow: hidden;
}



.container{
    position: absolute;
    width:80%;
    height: 100%;
    left: 5%;
    right: 90%;
    top: 10%;
    margin-top: 0%;
    overflow: visible;
    background-color: rgba(255,255,255,0);
    border:none;
    z-index: 0;
}


.spacejunktext{
  position: fixed;
  margin-left: 1%;
  width: 20vmin;
  animation: stomp .9s infinite;
  z-index: 1;
}




@keyframes stomp{
  50%{transform: translate(0,.5vmin);}
  100%{transform: initial;} 
}


/*--------------*/

.textwrapper{
  position: fixed;
  margin-top: 15%;
  margin-left: 4%;
  width: 15%;
  z-index: 1;
}

.explore{
  display: inline;
  width: 115%;
}


.teevee{
  display: inline;
  width: 100%;
}


.about{
  display: inline;
  width: 90%;
}


.insta{
  display: inline;
  width: 140%;
}


/*--------------*/


.clothes{
  padding: 0vmin;
  padding-bottom: 13vmin;
  width: 100%;
  margin-top: 10%;
  transform: scale(1.4);
}

.clothes:hover{
  transform: scale(1.4);
}

.clothesx{
  width: 90%;
  /*filter: drop-shadow(0 0 0.7rem black);*/
  margin-top: 2%;
}

.clothesx:hover{
  transform: scale(1.1);
  transition: all 0.5s ease;
  z-index: 1;
  cursor: pointer;
}

  /*-----------------*/


  .wrapper {
  display: grid;
  justify-content: center;
  padding: 1vmin;
  grid-template-columns: 90%;
  grid-column-gap: 5px;
  grid-row-gap: 30px;
  color: #444;
  opacity: 1;
}


.box {
  color: #fff;
  border-radius: 5px;
  font-size: 150%;
}


.price{
  opacity: 0;
  width: 0%;
  position: absolute;
  z-index: 1;
}

.box:hover .price{
  visibility: hidden;
}

pre{
  font-family: silom;
}

.content{
  display: none;
}

.mobileback {
    visibility: visible;
}
