
body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
  background-size: cover;
  background-image: url("assets/hubble.jpg");
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

button:active {
  outline: none;
  border: none;
}
button:focus {outline:0;}


.fadeInAnimated {
  opacity: 0;
  animation: fadeIn 2.5s forwards;
}


.mobileback{
  position: fixed;
	visibility: hidden;
	margin-top: -22%;
	z-index: -1;
	overflow: hidden;
  width: 100%;
}

.mobilebackimg{
	width: 100%;
}


#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1;
}

.content{
  display: absolute;
}


.brtext{
  position: fixed;
  width: 83px;
  font-size: 11px;
  padding: 10px;
  border: none;
  margin-left: 2%;
  bottom:18%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  cursor: default;
  border-radius: 5px;
  font-family: silom;
}

#myBtn {
  position: fixed;
  width: 30px;
  font-size: 18px;
  /*padding: 10px;*/
  border: none;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  cursor: default;
  margin-left: 6.5%;
  bottom:2%;
  border-radius: 5px;
  font-family: silom;
}
#myBtn2 {
  position: fixed;
  width: 45px;
  font-size: 11px;
  padding: 10px;
  border: none;
  margin-left: 2%;
  bottom:2%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 5px;
  font-family: silom;
}

#myBtn3 {
  position: fixed;
  width: 45px;
  font-size: 11px;
  padding: 10px;
  border: none;
  margin-left: 2%;
  bottom:7%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 5px;
  font-family: silom;
}

#myBtn4 {
  position: fixed;
  width: 45px;
  font-size: 11px;
  padding: 10px;
  border: none;
  margin-left: 2%;
  bottom:12%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 5px;
  font-family: silom;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

#myBtn2:hover {
  background: #ddd;
  color: black;
  cursor: default;
}

#myBtn3:hover {
  background: #ddd;
  color: black;
  cursor: default;
}
#myBtn4:hover {
  background: #ddd;
  color: black;
  cursor: default;
}

.container{
  position: absolute;
  display: inline-block;
  padding: 4vmin;
  left: 31.5%;
  margin-top: -7%;
  width: 62%;
  height: 84vmin;
  color: red;
  background-color: rgba(255,255,255,.5);
  z-index: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  border:5px solid black;
  border-radius: 15px;
}


.spacejunktext{
  margin-left: 1%;
  position: relative;
  width: 10%;
  animation: stomp .9s infinite;
}




@keyframes stomp{
  50%{transform: translate(0,.5vmin);}
  100%{transform: initial;} 
}


/*--------------*/

.textwrapper{
  /*display: inline;*/
  position: absolute;
  margin-top: 1%;
  margin-left: 4%;
  margin-right: 84%
}

.explore{
  display: block;
  width: 100%;
}

.explore:hover{
  transform: scale(1.4);
  transition: all 0.5s ease;
}

.teevee{
  display: block;
  width: 100%;
}

.teevee:hover{
  transform: scale(1.3);
  transition: all 0.5s ease;
}

.about{
  display: block;
  width: 80%;
}

.about:hover{
  transform: scale(1.3);
  transition: all 0.5s ease;
}

.insta{
  display: block;
  width: 130%;
}

.insta:hover {
  transform: scale(1.3);
  transition: all 0.5s ease;
}

/*--------------*/


.clothes{
  width: 98%;
  /*filter: drop-shadow(0 0 0.7rem black);*/
  margin-top: 2%;
}

.clothes:hover{
  transform: scale(1.2);
  transition: all 0.5s ease;
  z-index: 1;
  cursor: pointer;
}



  /*-----------------*/


  .wrapper {
  display: grid;
  justify-content: center;
  padding: 1vmin;
  grid-template-columns: 50% 50%;
  grid-column-gap: 5px;
  grid-row-gap: 30px;
  color: #444;
  opacity: 1;
}

.box {
  color: #fff;
  border-radius: 5px;
  font-size: 150%;
}


a:link .price {
  color: white;
}
a:visited .price {
  color: white;
}
a:hover .price {
  color: white;
}
a:active .price {
  color: white;
}

.price{
  visibility: hidden;
  margin-left: -30%;
  color: white;
  width: 400px;
  text-align: left;
  position: absolute;
  z-index: 1;
  font-family: silom;
  font-size: 15px;
  filter: drop-shadow(0 0 0.2rem black);
}

.box:hover .price{
  visibility: hidden;
  margin-top: 5vmin;
}

pre{
  font-family: silom;
}