
body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
  background-size: cover;
  background-image: url("../../assets/hubble.jpg");
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

button:active {
  outline: none;
  border: none;
}
button:focus {outline:0;}


.fadeInAnimated {
  opacity: 0;
  animation: fadeIn 2.5s forwards;
}


.mobileback{
  position: fixed;
	visibility: hidden;
	margin-top: -22%;
	z-index: -1;
	overflow: hidden;
  width: 100%;
}

.mobilebackimg{
	width: 100%;
}


#myVideo {
  position: fixed;
  overflow: none;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1;
  opacity: 1;
}

.content{
  display: fixed;
}



.container{
  position: fixed;
  display: inline-block;
  padding: 4vmin;
  left: 32%;
  margin-top: 2%;
  width: 60%;
  height: 84%;
  color: red;
  background-color: rgba(255,255,255,.5);
  z-index: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  border:5px solid black;
  border-radius: 15px;
}





@keyframes stomp{
  50%{transform: translate(0,.5vmin);}
  100%{transform: initial;} 
}


/*--------------*/

.textwrapper{
  /*display: inline;*/
  position: absolute;
  margin-top: 1%;
  margin-left: 4%;
  margin-right: 84%
}

.home{
  display: inline;
  width: 13%;
  filter: drop-shadow(0 0 0.75rem black);
  border-radius: 10px;
}

.home:hover{
  transform: scale(1.3);
  transition: all 0.5s ease;
}

.explore{
  display: inline;
  width: 20%;
  filter: drop-shadow(0 0 0.75rem black);
  border-radius: 10px;
}

.explore:hover{
  transform: scale(1.3);
  transition: all 0.5s ease;
}

.teevee{
  display: inline;
  width: 20%;
  filter: drop-shadow(0 0 0.75rem black);
  border-radius: 10px;
}

.teevee:hover{
  transform: scale(1.3);
  transition: all 0.5s ease;
}

.about{
  display: inline;
  width: 13%;
  filter: drop-shadow(0 0 0.75rem black);
  border-radius: 10px;
}

.about:hover{
  transform: scale(1.3);
  transition: all 0.5s ease;
}

.insta{
  display: inline;
  width: 20%;
  filter: drop-shadow(0 0 0.75rem black);
  border-radius: 10px;
}

.insta:hover {
  transform: scale(1.3);
  transition: all 0.5s ease;
}

/*--------------*/


.clothes{
  width: 100%;
  /*filter: drop-shadow(0 0 0.7rem black);*/
  margin-top: 2%;
}

.clothes:hover{
  cursor: default;
}



  /*-----------------*/


.box {
  color: #fff;
  border-radius: 5px;
  font-size: 150%;
}


a:link .price {
  color: white;
}
a:visited .price {
  color: white;
}
a:hover .price {
  color: white;
}
a:active .price {
  color: white;
}

.price{
  visibility: hidden;
  margin-left: 15%
  color: white;
  width: 400px;
  text-align: center;
  position: absolute;
  z-index: 1;
  font-family: silom;
  font-size: 15px;
  filter: drop-shadow(0 0 0.2rem black);
}

.box:hover .price{
  visibility: visible;
  margin-top: 5vmin;
}

pre{
  font-family: silom;
}


.rocketimg{
  z-index: 1;
  width: 100%;
}


.submenu{display:none;
  /*transform: translateY(-5vmin);*/
margin-top: 0vmin;
margin-left: 15vmin;
height:7vmin;
}

#menu{
  position: fixed;
  z-index: 2;
}


#auctions{
  position: fixed;
  width: 8%;
  cursor: pointer;
  margin-left: 1vmin;}


h1{
  position: absolute;
  font-family: silom;
  color: yellow;
  font-size: 10vw;
  text-shadow: 0 0 2vmin black;
}

p{
  position: relative;
  display: inline-flex;
  font-family: silom;
  font-size: 2vw;
  color: yellow;
  text-shadow: 0 0 2vmin black;
  margin-top: 35vh;
  margin-left: 5vw;
  margin-right: 27vw;
}



.success{
  position: absolute;
  margin-left: 27vw;
}
