
body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
  background-size: cover;
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

button:active {
  outline: none;
  border: none;
}
button:focus {outline:0;}

video{
  visibility: hidden;
}


.fadeInAnimated {
  opacity: 0;
  animation: fadeIn 2.5s forwards;
}


.mobileback{
  position: fixed;
  top: -5%;
  z-index: -1;
  overflow: hidden;
  width: 100%;
}

.mobilebackimg{
  width: 100%;
  z-index: -1;
}


#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1;
}

.content{
  display: none;
}


.brtext{
  position: relative;
  width: 83px;
  font-size: 11px;
  padding: 10px;
  border: none;
  margin-left: 2%;
  margin-top: 27%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  cursor: default;
  border-radius: 5px;
  font-family: silom;
}

.container{
  position: absolute;
  z-index: 1;
  padding-bottom: 50%;
}


.description{
  position: fixed;
  display: block;
  top: 74%;
  margin-left: 10%;
  height: 18%;
  width: 78%;
  background-color: rgba(0,0,0,.8);
  border-radius: 2vmin;
  z-index: 2;
}

.buynow{
  position: fixed;
  left: 48%;
  margin-left: -30%;
  top: 93%;
  width: 60%;
  height: 4%;
  background-color: rgba(0,0,0,.8);
  border-radius: 2vmin;
  z-index: 2;
}

.paypalimg{
  margin: auto;
  display: block;
  /*width: 30%;*/
  height: 5vw;
}


.formstyle{
  margin-top: 1vmin;
	text-align: center;
}

.spacejunktext{
  position: fixed;
  animation: stomp .9s infinite;
}




@keyframes stomp{
  50%{transform: translate(0,.5vmin);}
  100%{transform: initial;} 
}


/*--------------*/

.textwrapper{
  position: fixed;
  display: inline;
  margin-top: 15%;
  margin-left: 4%;
  margin-right: 0%
}


.home{
  display: inline;
  width: 20%;
}


.explore{
  display: inline;
  width: 20%;
}

.teevee{
  display: inline;
  width: 20%;
}

.about{
  display: inline;
  width: 20%;
}

.insta{
  display: inline;
  width: 33%;
}


/*--------------*/


.clothes{
  padding: 5%;
  width: 90%;
  margin-top: 2%;
  z-index: 0;
}




  /*-----------------*/


  .wrapper {
  display: grid;
  justify-content: center;
  padding: 1vmin;
  grid-template-columns: 50% 50%;
  grid-column-gap: 5px;
  grid-row-gap: 30px;
  color: #444;
  opacity: 1;
}

.box {
  color: #fff;
  border-radius: 5px;
  font-size: 150%;
}


a:link .price {
  color: white;
}
a:visited .price {
  color: white;
}
a:hover .price {
  color: white;
}
a:active .price {
  color: white;
}

/*.price{
  visibility: hidden;
  margin-left: 15%
  color: white;
  width: 400px;
  text-align: center;
  position: absolute;
  z-index: 1;
  font-family: silom;
  font-size: 15px;
  filter: drop-shadow(0 0 0.2rem black);
}*/

/*.box:hover .price{
  visibility: visible;
  margin-top: 5vmin;
}*/

pre{
  font-family: silom;
}

h1{
  font-family: silom;
  text-align: center;
  font-size: 4vw;
  color: white;
}

p{
  margin-left: 3.5%;
  margin-right: 4%;
  margin-top: -2%;
  font-family: silom;
  text-align: center;
  font-size: 1.5vh;
  color: white;
}


#navbar {
  visibility: hidden;
  position: fixed;
  top: 5vmin;
  transition: top 0.5s;
}


.rocketimg{
  z-index: 1;
  width: 100%;
}


.submenu{
  display: none;
  transform: translateY(-10vmin);
  margin-left: 14%;
}

#menu{
  position: fixed;
  z-index: 2;
  left: -1%;
}


#auctions{
  position: fixed;
  width: 14%;
  cursor: pointer;
  margin-left: 2vmin;
}

.soldout{
  margin-top: 1%;
  width: 13vh;
  margin-left: 22vw;
}